{% extends 'login.html.twig'%}

{% block title %}Comentar{% endblock %}

{% block body %}
<div class="centrado">
<p class="titulo-medio">Dejanos tu comentario</p>
  {{ form_start (OpinionForm) }}
    {{ form_widget(OpinionForm)}}
    <div class="campo-formulario">
      <button>ENVIAR</button>
    </div>
  {{form_end (OpinionForm)}}
</div>
{% endblock %}