{% extends 'base.html.twig' %}

{% block title %}Failure{% endblock %}

{% block body %}

<section class="jumbotron">
  <article class="stores">
      <p class="store-message">Oh NOO... Ha ocurrido un problema. Intentalo denuevo.</p>
  </article>
  <article></article>
</section>
{% endblock %}