{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<section class="jumbotron">
  <article class="stores">
      <p class="store-message">Hemos gestionado correctamente tu peticion.</p>
  </article>
  <article></article>
</section>
{% endblock %}